:root {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418; 
  --transition-speed: 200ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}


main {
    /* margin-left: 15rem;
    margin-right: 15rem;
    padding: 1rem; */
    display: grid;
    grid-template-areas:
      "left headpic right"
      "left content right";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 25%, 75%;     
    justify-items: center;
    align-items: center;
  }

header  {
  grid-area: headpic;
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;
}

article {
  grid-area: content;
  background-color: white;
}

#feat-pic1 {
  border-radius: var(--main-radius);
  /*padding-left: var(--main-padding);*/
  border: var(--main-border);
  grid-area: feat-pic1;
}
.img-container { overflow: hidden; }
.img-container img {
  width: 100%; 
  display: block;
}

.navbar {
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0  1.5rem
}

.nav-link i{
  width: 2rem;
  min-width: 2rem;
  margin: 0  1.5rem
}

.navbar:hover .link-text{
    display: block;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

iframe {
    display: block;
    border-style:none;
}

div, iframe {
  width: 500;
  height: 500;
  margin: 0 auto;
}

  
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
    header {
      height: 100%;
      width: 100%;
    }

  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  /* .photo-grid {
    display: grid;
    gap: 1rem;
    grid-auto-columns: 100vh;
    grid-auto-rows: 240px;
  } */

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
 
  
  /* Medium screens */
  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
      grid-column: span 2 / auto;
    }
  
    .card-wide {
      grid-row: span 2 / auto;
      grid-column: span 1 / auto;
    }
  }